<div id="frame">
	<div id="sidepanel">
		<div id="profile" [class.expanded]="expanded">
			<div class="wrap">
				<img
          id="profile-img"
          (click)="expandStatuses = !expandStatuses"
          [class]="activeUser.status"
          [src]="activeUser.img"
          alt=""
        />
				<p>{{activeUser.name}}</p>
				<i
          class="fa fa-chevron-down expand-button"
          (click)="expanded = !expanded"
          aria-hidden="true"
        ></i>
				<div id="status-options" [class.active]="expandStatuses">
					<ul>
						<li *ngFor="let item of (statuses | keyvalue)" [attr.id]="'status-'+item.value"
							(click)="activeUser.status = item.value; expandStatuses=false"
							[class.active]="item.value === activeUser.status" [class]="item.value">
							<span class="status-circle"></span>
							<p style="text-transform: capitalize;">{{item.value}}</p>
						</li>
					</ul>
				</div>
				<div id="expanded">
					<ng-container *ngFor="let item of (activeUser?.social | json | keyvalue)">
						<label for="twitter"
              ><i
                class="fa fa-fw"
                [class]="'fa-'+item.key"
                aria-hidden="true"
              ></i
            ></label>
						<input [name]="item.key" type="text" [value]="item.value" />
          </ng-container>
				</div>
			</div>
		</div>
		<div id="search">
			<label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
			<input type="text" placeholder="Search contacts..." />
    </div>
			<div id="contacts" [class.expanded]="expanded">
				<ul>
					<li class="contact" *ngFor="let user of users" (click)="setUserActive(user)"
						[class.active]="activeUser.id === user.id">
						<div class="wrap">
							<span class="contact-status" [class]="user.status"></span>
							<img [src]="user.img" alt="" />
							<div class="meta">
								<p class="name">{{user.name}}</p>
								<p class="preview">
									{{user.messages[user.messages?.length - 1]?.message || ''}}
								</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div id="bottom-bar">
				<button id="addcontact">
        <i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>
        <span>Add contact</span>
      </button>
				<button id="settings">
        <i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span>
      </button>
			</div>
		</div>

		<div class="content">
			<div class="contact-profile">
				<img [src]="activeUser.img" alt="" />
				<p>{{activeUser.name}}</p>
				<div class="social-media">
					<i class="fa fa-facebook" aria-hidden="true"></i>
					<i class="fa fa-twitter" aria-hidden="true"></i>
					<i class="fa fa-instagram" aria-hidden="true"></i>
				</div>
			</div>
			<div class="messages" #scrollMe>
				<ul>
					<li [class]="msg.type" *ngFor="let msg of activeUser?.messages">
						<img [src]="msg.type === 'sent' ? activeUser.img : messageReceivedFrom.img" alt="" />
						<p>{{msg?.message || ''}}</p>
					</li>
				</ul>
			</div>
			<div class="message-input">
				<div class="wrap">
					<input
          type="text"
          #msgInput
          placeholder="Write your message..."
          (keyup.enter)="addNewMessage(msgInput)"
        />
					<i class="fa fa-paperclip attachment" aria-hidden="true"></i>
					<button class="submit" (click)="addNewMessage(msgInput)">
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </button>
				</div>
			</div>
		</div>
	</div>